@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,800&display=swap");
html {
  font-family: "Muli", sans-serif;
  color: #1C264A;
  font-size: 16px;
}

.avgSalary .question-main {
  margin-bottom: 28.125rem;
}

.slider-section {
  opacity: 0;
  visibility: hidden;
  position: fixed;
}

.slider-section--active {
  opacity: 1;
  visibility: visible;
}

.avgSalary__graph {
  position: fixed;
  width: 650px;
  height: 550px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.bars {
  display: flex;
  align-items: flex-end;
  width: calc(100% - 35px);
  margin-left: 35px;
  height: 550px;
  padding-top: 15px;
}

.bar {
  flex: 1;
  height: 0%;
  margin-right: 10px;
  background: #F4EFEF;
}

.avgSalary__x {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  left: -30px;
  bottom: 0;
  padding-bottom: 50px;
  height: 550px;
  opacity: 0;
  z-index: 1;
  transform: translateX(-10px);
}
.avgSalary__x p {
  margin: 0;
}

.avgSalary__borders {
  width: calc(100% - 30px);
  height: 98.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  padding-bottom: 40px;
  margin-left: 30px;
  transform: translateX(-10px);
  opacity: 0;
}
.avgSalary__borders div {
  background: #D9CEFF;
  width: 100%;
  height: 2px;
  margin: 10px 0;
  opacity: 0.6;
}

.avg-amsterdam {
  position: absolute;
  top: 100px;
  width: calc(100% - 35px);
  margin-left: 35px;
  width: 60%;
  opacity: 0;
  visibility: hidden;
}

.avg-amsterdam__line {
  background: #fd9d00;
  background: linear-gradient(90deg, rgba(253, 157, 0, 0.1) 0%, #fc9300 18%, #fa6400 100%);
  width: 100%;
  height: 2px;
}

.avg-amsterdam__dot {
  position: absolute;
  right: 0;
  top: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FA6400;
}

.avg-amsterdam__text {
  position: absolute;
  top: -53px;
  right: -100px;
  color: #FA6400;
  font-size: 16px;
}

.work-experience .question-main {
  max-width: 600px;
  margin-bottom: 400px;
}

.work-experience__bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin: 0 auto;
  background: #47D7B7;
  height: 0;
  visibility: hidden;
}
.work-experience__bar h3 {
  font-size: 1.875rem;
  color: rgba(28, 38, 74, 0.4);
}

.work-experience__bar1 {
  visibility: visible;
  height: 320px;
  z-index: 3;
}

.work-experience__bar2 {
  background: #3ABDA0;
  z-index: 2;
}

.work-experience__bar3 {
  background: #2C9780;
  z-index: 1;
}

.work-experience__overview {
  position: absolute;
  right: -250px;
  top: 50%;
  opacity: 0;
  visibility: hidden;
}
.work-experience__overview h4 {
  margin-bottom: 3px;
}
.work-experience__overview p {
  margin: 0;
}

.work-experience__overview-group {
  position: relative;
}
.work-experience__overview-group:nth-child(1) {
  top: -73px;
}
.work-experience__overview-group:nth-child(2) {
  top: -26px;
}
.work-experience__overview-group:nth-child(3) {
  top: 66px;
}

.city-view {
  left: 200px;
}
.city-view h2 {
  max-width: 400px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: left;
}

.city-view__map {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.marks {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mark {
  position: fixed;
  background: #47D7B7;
  border-radius: 50%;
  margin-right: 10px;
}

.mark1 {
  width: 2.8125rem;
  height: 2.8125rem;
  top: 227px;
  right: 1185px;
}

.mark2 {
  width: 2.5rem;
  height: 2.5rem;
  top: 229px;
  right: 1133px;
}

.mark3 {
  width: 2.1875rem;
  height: 2.1875rem;
  top: 231px;
  right: 1085px;
}

.city-view__options {
  font-size: 1.0625rem;
  color: #1C264A;
  letter-spacing: 0.4;
  font-weight: 300;
  padding-left: 25px;
  list-style: none;
}
.city-view__options li {
  margin-bottom: 10px;
  transition: 0.3s all ease;
  cursor: pointer;
}
.city-view__options li:hover {
  color: #47D7B7;
}
.city-view__options li::before {
  content: "•";
  color: #47D7B7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  padding-bottom: 4px;
}

.tooltip {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 145px;
  height: 103px;
  padding-left: 35px;
  background: #FCFCFC;
  border-radius: 3px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
}
.tooltip:before {
  content: "\a";
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #FCFCFC transparent transparent;
  position: absolute;
  left: -10px;
}

.tooltip__titel {
  font-size: 15px;
  margin: 0;
}

.tooltip__value {
  font-size: 26px;
  color: #47D7B7;
  margin: 5px 0;
}

.tooltip__sub-title {
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  color: rgba(34, 41, 61, 0.6);
}

.tooltip-1 {
  right: 270px;
  top: 600px;
}
.tooltip-1:before {
  left: initial;
  right: -10px;
  top: 15px;
  transform: rotate(180deg);
}

.tooltip-2 {
  right: 265px;
  top: 280px;
}
.tooltip-2:before {
  left: initial;
  right: -10px;
  top: 25px;
  transform: rotate(180deg);
}

.tooltip-3 {
  right: 275px;
  top: 370px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  position: fixed;
  padding: 30px 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.question-main {
  text-align: center;
  font-size: 2.75rem;
  margin-top: 0;
  margin-bottom: 3.125rem;
}

.pref-question__options {
  max-width: 40.875rem;
  margin: 0 auto;
  margin-bottom: 1.875rem;
}

.pref-question__option {
  margin-right: 1.875rem;
  width: 11.25rem;
  height: 5.125rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border: none;
  border-left: 4px solid pink;
  background: #fff;
  font-family: "Muli", sans-serif;
  font-size: 1.1125rem;
  font-weight: 400;
  transition: 0.3s all ease;
}
.pref-question__option:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.pref-question__option:focus {
  outline: none;
}
.pref-question__option--visual {
  border-color: #7A6CEC;
  opacity: 0.3;
}
.pref-question__option--front-end {
  position: relative;
}
.pref-question__option--front-end div {
  position: absolute;
  width: 4px;
  height: 100%;
  background: #47D7B7;
  left: -4px;
  top: 0;
}
.pref-question__option--ux {
  border-color: #FF4D81;
  opacity: 0.3;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  margin-bottom: 30px;
}
footer a {
  text-decoration: none;
}
footer p {
  color: #BCB6B6;
  margin-bottom: 5px;
}
footer h4 {
  margin-top: 0;
  color: #1C264A;
}
footer .nextQuestion {
  text-align: right;
}

.slidecontainer {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background: none;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: calc(82px + 20px);
  margin-right: 5px;
  background: #47D7B7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #47D7B7;
  cursor: pointer;
}

.slidecontainer {
  width: 654px;
  position: relative;
  top: -108px;
  margin: 0 auto;
}

#estimatedMoney {
  text-align: center;
  font-size: 3.25rem;
  opacity: 0;
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
